{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

<div class="container center-block">

    <h2> {{ room.title }} </h1>

    <img src="{% static room.roomPic %}" height=400 class="img-responsive center-block" alt="dungeon">

    <h3> {{ room.description }} </h3>

    <br/>
    <h4> {{ room.question }} </h4>

  <div class="container">
  {% for choice in room.choices %}
      <a href="javascript:{document.getElementById('{{ choice.key }}').submit()}"><button class="btn btn-primary btn-lg btn-block">{{ choice.prompt }}</button></a>
  {% endfor %}
  </div>
</div>

{% for choice in room.choices %}
  <form id="{{ choice.key }}" method="POST" action="{% url 'room' %}">
    {% csrf_token%}
    <input type="hidden" name=key value="{{ choice.key }}" />
    <input type="hidden" name=backpack value="{{ backpack }}" />
    <input type="hidden" name=currentRoom value="{{ room.id }}" />
  </form>
{% endfor %}

<br />
<h4> Debug values </h3>
<li> room Id: {{ room.id}} </li>
<li> my backpack: {{ backpack }} </li>

{% endblock content %}


